@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

#bg-image {
  background-size: cover !important;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.4);
}

.main {
  color: whitesmoke;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.input_container {
  border: 2px solid whitesmoke;
}

.search_box {
  color: whitesmoke;
}

.location {
  font-size: 1.5rem;
}

.description p {
  font-size: 2rem;
  font-weight: 600;
  text-transform: capitalize;
}

.temp {
  font-size: 10rem;
  font-weight: 700;
}

.upper_right {
  background-color: whitesmoke;
  color: #808080;
}

.parameter {
  margin-top: 1.5rem;
}

.svg-icon {
  fill: #808080;
}

.value {
  color: #171717;
  font-size: 1.5rem;
  font-weight: 700;
}

.lower {
  border-top: 2px solid whitesmoke;
}

.heading {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

hr {
  border: 1.5px solid #d9d9d9;
}